{% extends "base.html" %}

{% block content %}
<h2>User Login</h2>
<div class="container">
    <form action="/welcome" method="post">
            <label>Username:
                <input type="text" name="username">
            </label>
            {% if error %}
            <p class='error'>{{ error }}</p>
            {% endif %}
        </br>
            <label>Password:
                <input type="text" name="password">
            </label>

        </br>
            <label>Verify password:
                
                <input type="text" name="verify-password">
            </label>
        </br>
            <label>Email (optional):
                <input type="text" name="email">
            </label>
        </br>
            <label>Favorite food (optional):
                    <input type="text" name="fav-food">
            </label>
        </br>
            <input type="submit" value="Log In"/>
    </form>
</div>
{% endblock %}