{% extends "base.html" %}

{% block content %}
<div class="container">
    <form>
            <label>Username:<span class="error">{{username-error}}</span>
                <input type="text" name="username">
            </label>
        </br>
            <label>Password:<span class="error">{{password-error}}</span>
                <input type="text" name="password">
            </label>
        </br>
            <label>Verify password:<span class="error">{{verifypassword-error}}</span>
                    <input type="text" name="verify-password">
            </label>
        </br>
            <label>Favorite food (optional):
                    <input type="text" name="fav-food">
            </label>
        </br>
            <input type="submit" value="Log In"/>
    </form>
</div>
{% endblock %}